* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#pantallaFinal{
display: none;
}
body{
    background-color: #040F1C;
    color:#fff;
    font-family: Asap Condensed;
}
header {
    height: 72px;
    border-bottom: 2px solid #f7bd25;
    background-color: #030912;
    display: flex;
    align-items: center;
    padding: 0 32px;
    justify-content: space-between;
}
#perfilUsuario {
    display: none;
}

.menu-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu {
    font-size: 32px;
    color: #f7bd25;
    cursor: pointer;
}

.logo-img {
    width: 90px;
}

.buscador {
    width: 270px;
    height: 40px;
    background-color: #020811;
    border: 1px solid #F0B228;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: white;
}

.buscador input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    margin-left: 8px;
}

.buscador input::placeholder {
    color: white;
}
.buscador:focus-within{
   border: 2px solid #F0B228;
}
.buscador i{
   font-size: 12px;
}

.iconos {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icono {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f7bd25;
    color: #040F1C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.iconos i{
    font-size: 20px;
}

.perfil {
    font-family: Orbitron;
    background-color: #0A3CC8;
    color: white;
    width: 45px;
    height: 45px;
    position: relative;
    cursor: pointer;
}
.menu-perfil {
    font-family: Asap Condensed;
    position: absolute;
    top: 48px;
    right: 0;
    width: 200px;
    background-color: #020811;
    border: 1px solid #18212b;
    border-radius: 10px;
    padding: 4px 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 1000;
}

.menu-perfil::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}

.perfil:hover .menu-perfil {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-perfil a {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0 16px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}


.menu-perfil a i {
    width: 25px;
    margin-right: 10px;
    color: #FFC035;
    text-align: center;
    font-size: 16px;
}

.menu-perfil a:hover {
    background-color: #071421;
}

.separador-perfil {
    height: 1px;
    background-color: #F0B228;
    margin: 6px 12px;
}

.ajustes {
    position: relative;
    cursor: pointer;
}

.menu-ajustes {
    position: absolute;
    top: 48px;
    right: 0;
    width: 200px;
    background-color: #020811;
    border: 1px solid #18212b;
    border-radius: 10px;
    padding: 6px 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 1000;
}

.menu-ajustes.abierto {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-ajustes::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}

.opcion-ajuste {
    display: flex;
    align-items: center;
    min-height: 55px;
    padding: 8px 15px;
    box-sizing: border-box;
}


.opcion-ajuste > i {
    width: 25px;
    margin-right: 10px;
    color: #FFC035;
    font-size: 16px;
    text-align: center;
}

.texto-ajuste {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.texto-ajuste span {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.opcion-ajuste:hover {
    background-color: #071421;
}

.switch {
    position: relative;
    width: 45px;
    height: 22px;
    margin-left: 8px;
    flex-shrink: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 3px;
    top: 3px;
    background-color: #040F1C;
    border-radius: 50%;
    transition: 0.2s;
    z-index: 2;
}

.icono-luna {
    position: absolute;
    left: 22px;
    top: 2px;
    font-size: 6px;
    color: #040F1C;
    z-index: 3;
    transition: 0.2s;
}

.icono-sol {
    position: absolute;
    right: 22px;
    top: 2px;
    font-size: 6px;
    color: #fff;
    z-index: 3;
    opacity: 0;
    transition: 0.2s;
}

.switch input:checked + .slider {
    background-color: #020811;
}

.switch input:checked + .slider::before {
    transform: translateX(20px);
        background-color: #fff;
}


.switch input:checked + .slider .icono-luna {
    opacity: 0;
}


.switch input:checked + .slider .icono-sol {
    opacity: 1;
}


.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 32px auto;
}
button{
    font-family: Asap Condensed;
}
h1, h2, h3{
    font-family: Orbitron;
}
.breadcrumb{
    margin-top: 50px;
    font-family: Orbitron;
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: bold;
}
.breadcrumb-active{
    color: #E4A623;
}
.contenido{
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 30px;
}
.contenido img{
    width: 900px;
    margin-top: 20px;
    display: block;
}
.pantalla-carga,
.pantallaJuego {
    width: 100%;

}

.pantalla-carga {
    position: relative;
}

.pantalla-carga img,
.pantallaJuego img {
    width: 900px;
    margin-top: 20px;
    display: block;
}
.pantalla-carga img {
    filter: blur(3px) brightness(0.45);

}

.pantallaJuego {
    display: none;
}


.loading {
    width: 800px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor-carga {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contenedor-carga span {
    width: 45px;
    text-align: right;
    font-family: Orbitron;
}

.barra {
    flex: 1;
    width: 800px;
    height: 15px;
    background-color: #FFEDC4;
    border-radius: 10px;
    overflow: hidden;
}

.game-progreso {
    width: 0%;
    height: 100%;
    background-color: #FFC035;
    border-radius: 10px;
    transition: width 0.5s ease;
}

.pantalla-carga {
    position: relative;
}

.loading {
    position: absolute;
}
.barra-juego {
    background-color: #FFC035;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0;
}

.btn-izquierdos,
.btn-derechos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-barra {
    color: #2B5EEB;
    background-color: #040F1C;
    border-radius: 50%;
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
}
.btn-barra i{
   font-size: 20px;
   align-items: center;
}
  
.barra-juego h3 {
    color: #040F1C;
    margin: 0;
}

.descripcion {
    margin-top: 40px;
}

.titulo-seccion {
    font-size: 22px;
    margin-bottom: 20px;
}

.descripcion p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 5px;
}


.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-compartir {
    position: relative;
    width: 400px;
    height: 220px;
    padding: 55px 5px;
    background-color: #071421;
    border: 2px solid #E4A623;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    color: white;
}

.modal-compartir h3 {
    margin: 0 0 25px;
}


.cerrar-modal {
    position: absolute;
    top: 12px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
.redes-modal {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.red-social {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.red-social i {
    position: relative;
    z-index: 2;
    color: #020810;
    font-size: 20px;
    transition: 0.5s;
}

.red-social::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}

.red-social:hover::before {
    top: 0;
}

.red-social:hover i {
    color: white;
    transform: rotateY(360deg);
}

.instagram::before {
    background-color: #e4405f;
}

.twitter::before {
    background-color: #000;
}

.telegram::before {
    background-color: #229ED9;
}

.email::before {
    background-color: #EA4335;
}

.mensajes::before {
    background-color: #2B5EEB;
}


.modal-instrucciones {
    position: relative;
    width: 550px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 30px 40px;
    background-color: #071421;
    border: 2px solid #E4A623;
    border-radius: 15px;
    color: white;
}

.modal-instrucciones h2 {
    text-align: center;
    margin: 0 0 10px;
    color: #fff;
    font-size: 24px;
}

.descripcion-instrucciones {
    text-align: center;
    margin-bottom: 25px;
    color: #d9d9d9;
}

.instruccion {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.instruccion > i {
    width: 35px;
    font-size: 22px;
    color: #FFC035;
    text-align: center;
    margin-top: 3px;
}

.instruccion h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: white;
}

.instruccion p, ul {
    margin: 0;
    color: #c7c7c7;
    line-height: 1.5;
    font-size: 15px;
}

.cerrar-modal {
    position: absolute;
    top: 15px;
    right: 18px;
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.cerrar-modal:hover {
    color: #FFC035;
}

.video {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.video-imagen {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    
}

.video-imagen img {
    width: 700px;
    transition: transform 0.5s ease, filter 0.5s ease;
     display: block;
    margin: 0;
    object-fit: cover;
}
.video-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-overlay i {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC035;
    color: #020810;
    font-size: 20px;
    padding-left: 3px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.video-overlay span {
    color: white;
    font-weight: 600;
}

.video-imagen:hover img {
    transform: scale(1.05);
    filter: brightness(0.5);
}

.video-imagen:hover .video-overlay {
    opacity: 1;
}

.video-imagen:hover .video-overlay i {
    transform: scale(1);
}

hr {
    border: none;
    height: 3px;
    background-color: #FFDB8D;
    width: 70%;
    margin: 35px auto;
}
.comentarios {
    margin-top: 20px;
}

.caja-comentario, .comentario {
    border: 2px solid #FFC035;
    border-radius: 20px;
    padding: 15px;
    margin: 25px 0;
    background-color: #020811;
    width: 800px;
    height: 140px;
}

.caja-comentario textarea {
    width: 100%;
    min-height: 60px;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-family:  Asap Condensed;
    margin-left: 10px; 
}


.comentar {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.comentar button {
    background-color: #2B5EEB;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 9px 25px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.comentar button:hover{
    background-color: #668DF9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.comentar button:active{
    background-color: #1B4A81;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}


.usuario {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0A3CC8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    font-family: Orbitron;
    font-size: 16px;
    margin-left: 10px;
}

.usuario-info p {
    font-family: Orbitron;
    font-size: 16px;
    font-weight: bold;   
    margin-left: 10px; 
}

.comentario-texto {
    line-height: 1.5;
    color: #ddd;
    font-size: 16px;
    margin-left: 60px;
}
.likes {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.likes i {
    font-size: 20px;
    color: #FFC035;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.likes i:hover {
    transform: translateY(-3px) scale(1.15);
    color: #668DF9;
}

.likes i:active {
    transform: scale(0.9);
}
.likes i.activo {
    color: #2B5EEB;
    transform: scale(1.15);
}

.tooltip-acento, .tooltip-sec {
    position: relative;
}

.tooltip-acento::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(120% + 7px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #2B5EEB;
    color: white;
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.tooltip-acento::before {
    content: "";
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #2B5EEB;
    opacity: 0;
    visibility: hidden;
}

.tooltip-sec::after {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(120% + 7px);
    left: 50%;
    transform: translateX(-50%);   
    background-color: #F0B228;
    color: #020811;
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;   
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.tooltip-sec::before {
    content: "";
    position: absolute;
    top: calc(120% + 1px);
    left: 50%;
    transform: translateX(-50%);    
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #F0B228;   
    opacity: 0;
    visibility: hidden;
}

.tooltip-sec:hover::before, .tooltip-sec:hover::after,
.tooltip-acento:hover::before, .tooltip-acento:hover::after {
    opacity: 1;
    visibility: visible;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.volver {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: -30px;
}

.volver button, .ver-mas button {
    background-color: #FFC035;
    color: #000;
    border: none;
    border-radius: 25px;
    width: 220px;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.volver button:hover, .ver-mas button:hover{
    background-color: #FFDB8D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.volver button:active, .ver-mas button:active{
    background-color: #E4A623;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}
.card-juego {
    position: relative;
    width: 280px;
    height: 160px;
    border: 2px solid #E4A623;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 12px;
    background-color: #071421;
}

.card-juego img {
    width: 100%;
    height: 100%;
    margin-top: -1px;
    transition: filter 0.3s ease, transform 0.3s ease;
}


.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-juego:hover img {
    filter: blur(3px) brightness(0.5);
    transform: scale(1.03);
}

.card-juego:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    color: white;
    font-size: 18px;
    margin: 0 0 12px;
    text-align: center;   
    width: 100%;          
    padding: 0 10px;
}

.btn-jugar {
    background-color: #F0B228;
    color: #000;
    border: none;
    border-radius: 20px;
    width: 100px;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;

}
.btn-jugar:hover, .btn-ingresar:hover{
    background-color: #668DF9;
}
.btn-jugar:focus, .btn-ingresar:focus{
    background-color: #2B5EEB;

    outline: 1px solid #91AEFF;
}
.btn-jugar:active, .btn-ingresar:active{
    background-color: #0A3CC8;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}

.fav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.fav i {
    font-size: 14px;
}
.ver-mas {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer {
    width: 100%;
    background-color: #020810;
    color: white;
    border-top: 1px solid #FFEDC4;
}

.footer-banner {
    width: 80%;
    height: 140px;
    margin: 27px auto 16px;
    padding: 8px 20px;
    background-color: #f7b51f;
    border: 3px solid #FFCA55;
    border-radius: 16px;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-banner h2 {
    margin: 2px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.footer-banner p {
    margin: 4px;
    font-size: 14px;
}

.btn-crear {
    padding: 7px 16px;
    margin: 4px 0;
    background-color: #1648c4;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.btn-crear:hover{
    background-color: #668DF9;
}
.btn-crear:focus{
    background-color: #2B5EEB;

    outline: 1px solid #91AEFF;
}
.btn-crear:active{
    background-color: #0A3CC8;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}
.iniciar-sesion {
    color: #111111;
    font-size: 10px;
}

.footer-contenido {
    width: 80%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1.25fr 1.25fr 1.25fr 1.35fr;
    column-gap: 35px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 250px;
    height: auto;
}

.footer-columna {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-columna h3 {
    margin: 20px 0px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.footer-columna a {
    margin-bottom: 7px;
    color: #eeeeee;
    text-decoration: none;
    font-size: 14px;
}

.footer-social a i {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 16px;
    color: #FFC035;
    margin-right: 5px;
}


.footer-inferior {
    width: 100%;
    height: 50px;
    padding: 0 27px;
    box-sizing: border-box;
    border-top: 1px solid #FFEDC4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-inferior p {
    margin: 0;
    font-size: 12px;
    color: #eeeeee;
}

.footer-legales {
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer-legales a,
.footer-legales span {
    font-size: 12px;
    color: #eeeeee;
    text-decoration: none;
}

/* Pantalla completa de carga */
.loader-container {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: #020810;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
}

/* Estado normal del joystick */
.loader-joystick {
    width: 90px;
    height: 90px;
    object-fit: contain;
    transform: scale(0.92);
    filter: drop-shadow(0 0 5px rgba(247, 189, 37, 0.4));
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

/* Estado de latido */
.loader-joystick.latido {
    transform: scale(1.08);
    filter: drop-shadow(0 0 20px rgba(247, 189, 37, 0.9));
}

/* Fondo de la Barra de Carga */
.loader-bar {
    width: 220px;
    height: 8px;
    background: #071421;
    border: 1px solid #354352;
    border-radius: 10px;
    overflow: hidden;
}

/* Relleno de la Barra (.progreso) */
.progreso {
    width: 0%;
    height: 100%;
    background: #f7bd25;
    box-shadow: 0 0 8px #f7bd25;
    transition: width 0.3s ease;
}

/* Texto de Carga */
.loader-text {
    color: #9DA8B3;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

.loader-text span {
    color: #F7BD25;
    margin-left: 4px;
}

/* BOTÓN INGRESAR */

.btn-ingresar {
    background-color: #F0B228;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    inset: 0;

    background-color: rgba(2, 8, 16, 0.75);

    justify-content: center;
    align-items: center;
}



.modal-contenido {
    position: relative;
    width: 380px;
    background-color: #071421;
    border: 2px solid #e4a623;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    
    /* Transición suave al cambiar de tamaño */
    transition: width 0.3s ease; 
}

/* Modificador de ancho para el registro */
.modal-contenido.registro-grande {
    width: 600px; /* Tamaño más amplio */
}


/* BOTÓN CERRAR */

.cerrar-modal {
    position: absolute;
    top: 12px;
    right: 15px;

    background: none;
    border: none;
    color: white;

    font-size: 28px;
    cursor: pointer;
    z-index: 2;
}

.cerrar-modal:hover {
    color: #f7bd25;
}


/* PESTAÑAS */

.tabs {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #253342;
}

.tab {
    width: 50%;
    padding: 18px 10px;

    background-color: #020810;
    border: none;

    color: #9da8b3;
    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
}

.tab:hover {
    color: white;
}

.tab.activo {
    color: #f7bd25;
    border-bottom: 3px solid #f7bd25;
}


/* FORMULARIOS */

.formulario {
    display: none;
    padding: 30px 30px 35px;
}

.formulario.activo {
    display: flex;
    flex-direction: column;
}


/* TÍTULOS */

.formulario h2 {
    margin: 0 0 8px;
    color: white;
    font-size: 27px;
}

.formulario p {
    margin: 0 0 25px;
    color: #9da8b3;
    font-size: 14px;
}


/* LABELS */

.formulario label {
    margin-bottom: 7px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}


/* INPUTS */

.formulario input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 14px;
    margin-bottom: 18px;
    background-color: #020810;
    border: 1px solid #fff;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    outline: none;
}

.formulario input:focus {
    border-color: #f7bd25;
}

.formulario input::placeholder {
    color: #687582;
}

/* SOLO REGISTRO */

#registro.formulario.activo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 0;
}

#registro .campo {
    display: flex;
    flex-direction: column;
}

#registro .btn-crear,
#registro .btn-crear-registro,
#registro .separador,
#registro .login-social,
#registro .cambiar-formulario {
    grid-column: 1 / 3;
}
.modal-contenido.registro-grande {
    width: 600px;
}
/* BOTÓN DEL FORMULARIO */

.btn-form, form .btn-crear {
    width: 200px;
    margin: 5px auto 0;
    padding: 12px;
    color: #020810;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;   
}
.btn-form{
    background-color: #f7bd25;
}

.btn-form:hover {
    background-color: #ffd35a;
}


/* LINK */

.link-form {
    margin-top: 18px;
    text-align: center;

    color: #5f8fff;
    font-size: 14px;
    text-decoration: none;
}

.link-form:hover {
    text-decoration: underline;
}

.input-icono {
    position: relative;
    width: 100%;
    margin-bottom: 18px;
}

.input-icono i {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);

    color: #fff;
    font-size: 16px;
}

.input-icono input {
    margin: 0;
    padding-left: 42px;
}

.separador {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 25px 0 20px;
}

.separador span {
    flex: 1;
    height: 1px;
    background-color: #354352;
}

.separador p {
    margin: 0;
    color: #7d8995;
    font-size: 14px;
}

.login-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.btn-social {
    height: 45px;
    width: 270px;
    border: 1px solid #354352;
    border-radius: 25px;
    background-color: #020810;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 55px;
    gap: 15px;             
          
    line-height: 1;        
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-social img {
    width: 22px;
    height: 22px;
    display: block;         
    object-fit: contain;    
    margin: 0;            
}

.btn-social:hover {
    background-color: #101d2a;
    border-color: #526273;
}
.cambiar-formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #9da8b3;
    font-size: 14px;
}

.cambiar-formulario button {
    background: none;
    border: none;
    color: #5f8fff;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
}

.cambiar-formulario button:hover {
    text-decoration: underline;
}

.btn-crear-registro{
    width: 200px;
    height: 45px;
    margin: 5px auto 0;
    background-color: #f7bd25;
    color: #020810;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: width 0.4s ease,
                height 0.4s ease,
                border-radius 0.4s ease,
                background-color 0.3s ease;
}

/* Cargando */
.btn-crear-registro.cargando {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #354352;
    border-left-color: #f7bd25;
    color: transparent;
    transition: width 0.4s ease,
                height 0.4s ease,
                border-radius 0.4s ease,
                background-color 0.3s ease;
}

/* Éxito */
.btn-crear-registro.exito {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50%;
    background-color: #1ecd97;
    color: white;
    font-size: 20px;
}
